.photolist-wrapper{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
}
.wrapper{
    text-align: center;
}
input{
    width: 50%;
    height: 30px;
    outline: none;
    font-size: 15px;
    padding: 5px;
}
.loader{
    transform: translateX(200%);
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
}